<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478332739476-jvlf8nanlj43o1qpkjcfl3qllvmulq4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478332739476-jvlf8nanlj43o1qpkjcfl3qllvmulq4h</string>
	<key>API_KEY</key>
	<string>AIzaSyB8LdSUuCeTclIFF51bhOp7ox4CA7UCkNo</string>
	<key>GCM_SENDER_ID</key>
	<string>478332739476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marcelo.TorcedorFC</string>
	<key>PROJECT_ID</key>
	<string>torcedorfcbackfront</string>
	<key>STORAGE_BUCKET</key>
	<string>torcedorfcbackfront.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478332739476:ios:3a981133ab92b088b4f981</string>
</dict>
</plist>